#!/bin/bash
bash -c "echo \"export GITHUB_USER=${github_user}\"  >> /etc/profile.d/script.sh"
bash -c "echo \"export GITHUB_REPO=${github_repo}\"  >> /etc/profile.d/script.sh"
bash -c "echo \"export GITHUB_AUTH_TOKEN=${github_auth_token}\"  >> /etc/profile.d/script.sh"
